html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  height: 100%;
  width: 100%;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: rgb(255, 255, 255) !important;
  background: rgb(168, 166, 166);
  background: linear-gradient(
    90deg,
    rgba(168, 166, 166, 1) 0%,
    rgba(31, 31, 31, 1) 100%
  );
}

.header img {
  height: 100px;
  top: 50%;
  left: 50%;
}

.menu {
  float: center;
  background: rgb(168, 166, 166);
  background: linear-gradient(
    90deg,
    rgba(168, 166, 166, 1) 0%,
    rgba(31, 31, 31, 1) 100%
  );
  overflow: hidden;
}
.menu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
}

.menu a:hover {
  background-color: rgb(116, 115, 115);
  color: black;
}

.info {
  text-align: center;
}

.info a:hover {
  color: rgb(65, 63, 63);
}

.contact {
  text-align: center;
}

.contact a:hover {
  color: rgb(65, 63, 63);
}
